.intro .container
    min-height: clamp(900px, 100vh, 100vh)
    max-width: 1650px

    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-items: flex-start
    justify-content: center

.intro-hello
    font-weight: $font-light
    color: $text-off-light
    letter-spacing: 1px
    margin-bottom: 10px

.intro-name
    margin-bottom: 20px
    margin-right: 10px

.intro-body
    margin-bottom: 40px
    max-width: 570px

.btn-container
    display: flex
    flex-wrap: wrap
    align-items: center
    width: 100%
    max-width: 570px

    a:nth-of-type(1)
        margin-right:22px

.social-container
    flex-grow: 1
    text-align: end

    svg 
        fill: red


/*============== Animation ================*/ 
.btn-container .btn, .social-container a:nth-of-type(n) img
    transform: scale(0)

.btn-container .btn
    
    &:nth-of-type(1)
        animation: btn-scale .40s ease-out 2.0s forwards

    &:nth-of-type(2)
        animation: btn-scale .40s ease-out 2.2s forwards

.social-container a
    
    &:nth-of-type(1) img
        animation: btn-scale .40s ease-out 2.4s forwards

    &:nth-of-type(2) img
        animation: btn-scale .40s ease-out 2.6s forwards

@keyframes btn-scale
    to
        transform: scale(1)


/*============== Responsiveness ================*/   
@media(max-width: $tablet)
    .intro .container
        padding: 0 100px

    .social-container
        flex-basis: 100%
        text-align: start
        padding-top: 20px

@media(max-width: $mobile)
    .intro .container
        align-items: center

    .intro-body
        text-align: center

    .btn-container
        flex-direction: column
        justify-content: center

        a:nth-of-type(1)
            margin-right: 0
            margin-bottom: 20px

        .social-container
            a:nth-of-type(1)
                margin-right: 5px

            a:nth-of-type(2)
                margin-left: 5px


    
 
    
    
