.projects
    display: none
    
.projects h3, .projects p
    text-align: center

.read-more-container
    display: flex
    align-items: center
    justify-content: center
    padding: 2rem

.image-container
    display: flex
    align-items: center
    justify-content: center
    height: 200px

    //@include background-opacity($accent, 0.5)

.project-img
    background: none
    border-radius: 6px
    margin: 0 auto
    //filter: grayscale(1)

.projects .col
    box-shadow: -5px 0 0 -2px white, 5px 0 0 -2px red

    