.websites h3, .websites p
    text-align: center

.websites h3
    margin-bottom: 20px

.read-more-container
    display: flex
    align-items: center
    justify-content: center
    margin-top: auto
    padding: 2rem

.web-image-container
    display: flex
    align-items: center
    justify-content: center
    height: 200px

    //@include background-opacity($accent, 0.5)

.website-img
    background: none
    border-radius: 6px
    margin: 0 auto
    //filter: grayscale(1)

.websites .col
    //box-shadow: -5px 0 0 -2px white, 5px 0 0 -2px red

@media(max-width: $mobile)
    .websites .container
        padding: 50px
        
        h2
            text-align: center
